doctype html
html
	head
		title= 'Kütüphane'
		// link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/foundation.css')
		link(rel='stylesheet', href='/stylesheets/mbd-styles.css')
	body
		div(class='top-bar mbd-margin')
			div(class='row medium-8 large-7 columns')
				ul(class='menu')
					li
						div(class='top-bar-title')
							strong Library
					li
						a(href="/") Anasayfa
		div(class='row medium-8 large-7 columns')
			block content
